<div class="card">
  <h2>Edit this todo...</h2>

  <form action=/todo/update/<%= @todo.id %>>
    <input class="text-input" name='task' type="text" value="<%= @todo.task %>">
    <input class="text-input" name='time' type="number" value="<%= @todo.time %>">
    <input class="text-input" name='days' type="number" value="<%= @todo.days %>">
    <input class="text-input" name='description' type="text" value="<%= @todo.description %>">
    <input class="button add-new-todo-button" type="submit" value="Edit todo">
    <a href="/todo/index" class="simple-link">Go back...</a>
  </form>
</div>
